In [1]:
import pandas as pd
from dotenv import load_dotenv
import requests
import os
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver

# Tide-up the original dataframe

In [3]:
fifa_df_2 = pd.read_csv('csv/players_19.csv')
fifa_df_2 = fifa_df_2[fifa_df_2['overall'] >= 85]

In [4]:
fifa_df_2.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,33,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,31,1987-06-24,170,72,Argentina,FC Barcelona,...,63+2,61+2,61+2,61+2,63+2,58+2,47+2,47+2,47+2,58+2
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,26,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3

In [5]:
fifa_df_2.info(max_cols=105)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 110
Data columns (total 104 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   sofifa_id                   111 non-null    int64
 1   player_url                  111 non-null    object
 2   short_name                  111 non-null    object
 3   long_name                   111 non-null    object
 4   age                         111 non-null    int64
 5   dob                         111 non-null    object
 6   height_cm                   111 non-null    int64
 7   weight_kg                   111 non-null    int64
 8   nationality                 111 non-null    object
 9   club                        111 non-null    object
 10  overall                     111 non-null    int64
 11  potential                   111 non-null    int64
 12  value_eur                   111 non-null    int64
 13  wage_eur                    111 non-null    int64
 14  player_positions            111 non-null    object
 15  preferred_foot              111 non-null    object
 16  international_reputation    111 non-null    int64
 17  weak_foot                   111 non-null    int64
 18  skill_moves                 111 non-null    int64
 19  work_rate                   111 non-null    object
 20  body_type                   111 non-null    object
 21  real_face                   111 non-null    object
 22  release_clause_eur          108 non-null    float64
 23  player_tags                 94 non-null     object
 24  team_position               111 non-null    object
 25  team_jersey_number          111 non-null    float64
 26  loaned_from                 3 non-null      object
 27  joined                      108 non-null    object
 28  contract_valid_until        111 non-null    float64
 29  nation_position             67 non-null     object
 30  nation_jersey_number        67 non-null     float64
 31  pace                        100 non-null    float64
 32  shooting                    100 non-null    float64
 33  passing                     100 non-null    float64
 34  dribbling                   100 non-null    float64
 35  defending                   100 non-null    float64
 36  physic                      100 non-null    float64
 37  gk_diving                   11 non-null     float64
 38  gk_handling                 11 non-null     float64
 39  gk_kicking                  11 non-null     float64
 40  gk_reflexes                 11 non-null     float64
 41  gk_speed                    11 non-null     float64
 42  gk_positioning              11 non-null     float64
 43  player_traits               105 non-null    object
 44  attacking_crossing          111 non-null    object
 45  attacking_finishing         111 non-null    object
 46  attacking_heading_accuracy  111 non-null    object
 47  attacking_short_passing     111 non-null    object
 48  attacking_volleys           111 non-null    object
 49  skill_dribbling             111 non-null    object
 50  skill_curve                 111 non-null    object
 51  skill_fk_accuracy           111 non-null    object
 52  skill_long_passing          111 non-null    object
 53  skill_ball_control          111 non-null    object
 54  movement_acceleration       111 non-null    object
 55  movement_sprint_speed       111 non-null    object
 56  movement_agility            111 non-null    object
 57  movement_reactions          111 non-null    object
 58  movement_balance            111 non-null    object
 59  power_shot_power            111 non-null    object
 60  power_jumping               111 non-null    object
 61  power_stamina               111 non-null    object
 62  power_strength              111 non-null    object
 63  power_long_shots            111 non-null    object
 64  mentality_aggression        111 non-null    object
 65  mentality_interceptions     111 non-null    object
 66  mentality_positioning       111 non-null    object
 67  mentality_vision            111 non-null    object
 68  mentality_penalties         111 non-null    object
 69  mentality_composure         111 non-null    object
 70  defending_marking           111 non-null    object
 71  defending_standing_tackle   111 non-null    object
 72  defending_sliding_tackle    111 non-null    object
 73  goalkeeping_diving          111 non-null    object
 74  goalkeeping_handling        111 non-null    object
 75  goalkeeping_kicking         111 non-null    object
 76  goalkeeping_positioning     111 non-null    object
 77  goalkeeping_reflexes        111 non-null    object
 78  ls                          100 non-null    object
 79  st                          100 non-null    object
 80  rs                          100 non-null    object
 81  lw                          100 non-null    object
 82  lf                          100 non-null    object
 83  cf                          100 non-null    object
 84  rf                          100 non-null    object
 85  rw                          100 non-null    object
 86  lam                         100 non-null    object
 87  cam                         100 non-null    object
 88  ram                         100 non-null    object
 89  lm                          100 non-null    object
 90  lcm                         100 non-null    object
 91  cm                          100 non-null    object
 92  rcm                         100 non-null    object
 93  rm                          100 non-null    object
 94  lwb                         100 non-null    object
 95  ldm                         100 non-null    object
 96  cdm                         100 non-null    object
 97  rdm                         100 non-null    object
 98  rwb                         100 non-null    object
 99  lb                          100 non-null    object
 100 lcb                         100 non-null    object
 101 cb                          100 non-null    object
 102 rcb                         100 non-null    object
 103 rb                          100 non-null    object
dtypes: float64(16), int64(11), object(77)
memory usage: 91.1+ KB

In [6]:
fifa_19_pdata = fifa_df_2.iloc[:,[0,2,3,4,8,9,24]]
fifa_19_pstats = fifa_df_2.iloc[:, np.r_[0,10,11, 31:43]]

In [7]:
fifa_19_pdata

,sofifa_id,short_name,long_name,age,nationality,club,team_position
0,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,33,Portugal,Juventus,LW
1,158023,L. Messi,Lionel Andrés Messi Cuccittini,31,Argentina,FC Barcelona,RW
2,190871,Neymar Jr,Neymar da Silva Santos Junior,26,Brazil,Paris Saint-Germain,CAM
3,193080,De Gea,David De Gea Quintana,27,Spain,Manchester United,GK
4,192985,K. De Bruyne,Kevin De Bruyne,27,Belgium,Manchester City,RCM
...,...,...,...,...,...,...,...
106,184267,Y. Brahimi,Yacine Brahimi,28,Algeria,FC Porto,LM
107,187961,Paulinho,José Paulo Bezzera Maciel Júnior,29,Brazil,Guangzhou Evergrande Taobao FC,LDM
108,188350,M. Reus,Marco Reus,29,Germany,Borussia Dortmund,LW
109,192629,Iago Aspas,Iago Aspas Juncal,30,Spain,RC Celta,RW
110,204485,R. Mahrez,Riyad Mahrez,27,Algeria,Manchester City,SUB

In [8]:
fifa_19_pstats.head()

,sofifa_id,overall,potential,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
0,20801,94,94,90.0,93.0,81.0,89.0,35.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN
1,158023,94,94,88.0,91.0,88.0,96.0,32.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN
2,190871,92,93,92.0,84.0,83.0,95.0,32.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN
3,193080,91,93,NaN,NaN,NaN,NaN,NaN,NaN,90.0,85.0,87.0,94.0,58.0,88.0
4,192985,91,92,77.0,86.0,92.0,87.0,60.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN

# Get players links from fbref.com

In [20]:
player_link_df = fifa_19_pdata.iloc[:,[0,1]]
player_link_df['short_name'] = player_link_df['short_name'].str.lower().str.replace('.', '').str.replace(' ', '+')
player_link_df

     sofifa_id         short_name
0        20801  cristiano+ronaldo
1       158023            l+messi
2       190871          neymar+jr
3       193080             de+gea
4       192985        k+de+bruyne
..         ...                ...
106     184267          y+brahimi
107     187961           paulinho
108     188350             m+reus
109     192629         iago+aspas
110     204485           r+mahrez

[111 rows x 2 columns]

In [21]:
player_link_df_try = player_link_df.iloc[:10,:]

In [22]:
op = webdriver.ChromeOptions()
op.add_argument('headless')

In [26]:
browser = webdriver.Chrome('/Users/eduardooportoalonso/Documents/Cursos/Ironhack/datamad1020/ironhack-projects/pipelines-project/chromedriver', options=op)

def linkifyer(search_str, browser):
    browser.get("https://fbref.com/en/search/search.fcgi?search=" + search_str) 

    element = browser.find_element_by_class_name('filter')
    selector = browser.execute_script("return arguments[0].innerHTML;", element)
    link = BeautifulSoup(selector, 'html.parser').find('a')['href']
    print(link)

In [27]:
for name in player_link_df_try['short_name']:
    linkifyer(name, browser)

/en/players/dea698d9/all_comps/Cristiano-Ronaldo-Stats---All-Competitions
javascript:void(0)
/en/players/69384e5d/all_comps/Neymar-Stats---All-Competitions
javascript:void(0)
/en/players/e46012d4/all_comps/Kevin-De-Bruyne-Stats---All-Competitions
javascript:void(0)
javascript:void(0)
/en/players/6025fab1/all_comps/Luka-Modric-Stats---All-Competitions
/en/players/a39bb753/all_comps/Eden-Hazard-Stats---All-Competitions
/en/players/ee8508c0/all_comps/Jan-Oblak-Stats---All-Competitions