In [1]:
import requests
import json
import pandas as pd

## Group sentiment analysis call

In [4]:
endpoint = "group/list_mood?group_name=accomplishment&user_nick=angryfish723"

res = requests.get('http://127.0.0.1:5000/' + endpoint).json()

In [5]:
df = pd.DataFrame.from_dict(res)
df.head()

,group_id,user_id,user_nick,message,message_date,neg,neu,pos
0,9,37,angryfish723,I suppose thats one of the ironies of life doi...,1606785624000,0.171,0.829,0.000
1,9,37,angryfish723,I am a firm believer in marriage. In the futur...,1606785624000,0.000,1.000,0.000
2,9,24,silvermouse530,"We are reflections of one another, therefore I...",1606785624000,0.000,0.949,0.051
3,9,18,heavyelephant591,Men make history and not the other way around....,1606785624000,0.051,0.673,0.276
4,9,18,heavyelephant591,The principal act of courage is to endure and ...,1606785624000,0.268,0.596,0.136

In [6]:
df.iloc[:,-3:].mean()

neg    0.0937
neu    0.7803
pos    0.1260
dtype: float64

## Chat sentiment analysis call

In [9]:
endpoint = "chat/list_mood?user_nick=happytiger591&recv_nick=angryleopard653"

res = requests.get('http://127.0.0.1:5000/' + endpoint).json()

In [10]:
df = pd.DataFrame.from_dict(res)
df.head()

,chat_id,user_id,user_nick,message,message_date,neg,neu,pos
0,2,30,happytiger591,The action we take and the decisions we make i...,1606785623000,0.215,0.785,0.000
1,2,25,angryleopard653,The recycling in my house was imposed by my kids.,1606785623000,0.126,0.874,0.000
2,2,25,angryleopard653,Dont Make Assumptions. Find the courage to ask...,1606785623000,0.100,0.689,0.211
3,2,30,happytiger591,I dont do that many appearances at conventions...,1606785623000,0.000,0.664,0.336
4,2,30,happytiger591,I will always be an actress. I couldnt see mys...,1606785623000,0.000,0.870,0.130

In [11]:
df.iloc[:,-3:].mean()

neg    0.08150
neu    0.70905
pos    0.20940
dtype: float64